.change-password {
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
}

.form-change-password {
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    width: 900px;
    box-shadow: 0 4px 10px rgba(0, 139, 118, 0.3); /* Đổi màu shadow */
    height: auto;
}

.form-change-password h1 {
    margin-bottom: 30px;
    color: #008b76; /* Đổi màu chữ */
    font-size: 1.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-change-password input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.form-change-password button {
    width: 100%;
    padding: 13px;
    background-color: #008b76; /* Đổi màu nền */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-change-password button:hover {
    background-color: #006b5c; /* Đổi màu hover */
}

.form-change-password p {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
}

.password-standards {
    width: 100%;
    width: 400px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transform: translateY(-30px);
}

.password-standard {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.password-standard .icon {
    color: #008b76; /* Đổi màu icon */
    font-size: 18px;
    margin-right: 10px;
}

.password-standard p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #008b76; /* Đổi màu tiêu đề */
}

h6 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #555;
}

.error-message-password p {
    width: 100%;
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}

.back-link {
    font-size: 16px;
    color: #008b76; /* Đổi màu liên kết */
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
}

.back-link svg {
    margin-right: 8px;
    font-size: 18px;
}

.back-link:hover {
    color: #006b5c; /* Đổi màu hover */
    text-decoration: underline;
}